/* styles.css */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: ##f4f4f4;
    --dark-color: #343a40;
    --shadow: 0px 0px 10px rgba(0,0,0,0.1);
    --shadowhover: 0px 0px 15px rgba(0,0,0,0.2);
    --transition: all 1s ease-in-out;

}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: var(--light-color);
    box-shadow: var(--shadow);
    transition: var(--transition);
}

header {
    text-align: center;
    background-color: var(--light-color);
    transition: var(--transition);
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    transition: var(--transition);
}

h1, h2, h3 {
    color: #0b0303;
}

/* index */
.default {
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}
.links {
    margin-bottom: 30px;
    padding: 5px;
    transition: var(--transition);
}

/* resume */
.divider {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: 10px;
}

.work-experience, .education {
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: 10px;
    transition: var(--transition);
}

.work-experience:hover, .education:hover {
    margin-bottom: 30px;
    box-shadow: var(--shadowhover);
    padding: 5px;
    border-radius: 10px;
    transition: var(--transition);
}

.skills {
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: 10px;
    transition: var(--transition);
}

.project {
    margin-bottom: 30px;
    box-shadow: var(--shadow);
    padding: 5px;
    border-radius: 10px;
    transition: var(--transition);
}


/* Path: index.html */